<div ng-include="'/templates/navbar.html'"></div>

<div id="dashboard" ng-controller="transactionController" ng-init="getTransactions()">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Monthly Earning and Expenses</strong></h3>
            </div>
            <div class="panel-body">
                <canvas ng-show="barlabels.length == 0" id="bar" class="chart chart-bar" chart-data="barorigin" chart-labels="barlabels" chart-series="barseries" chart-colors="barcolors" chart-options="baroptions" height="267"></canvas>
                <canvas ng-show="barlabels.length != 0" id="bar" class="chart chart-bar" chart-data="bardata" chart-labels="barlabels" chart-series="barseries" chart-colors="barcolors" chart-options="baroptions" height="267"></canvas>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Expense Categories</strong></h3>
            </div>
            <div class="panel-body">
                <canvas id="pie" class="chart chart-pie" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions" chart-colors="piecolors" height="267"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Monthly Progress</strong></h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6 box">
                    <i class="fa fa-money fa-5x"></i>
                    <p>EARNING</p>
                    <p>{{cur_earning | currency}}</p>
                </div>
                <div class="col-md-6 box">
                    <i class="fa fa-credit-card fa-5x"></i>
                    <p>SPENDING</p>
                    <p>{{cur_spending | currency}}</p>
                </div>
                <div>
                    <small><em>Monthly Budget Left</em></small>
                    <uib-progressbar value="spend_earn_ratio" type="{{budgetStatus}}"><b>{{spend_earn_ratio}}%</b></uib-progressbar>
                </div>
                <div>
                    <small><em>Month Cycle Left ({{day}} / {{max}} days)</em></small>
                    <uib-progressbar max="max" value="day" type="{{monthStatus}}"><b>{{day}}</b></uib-progressbar>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Top Spending Category</strong></h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="spend in topSpending | orderBy:'rank'" class="col-md-6 box">
                    <i class="fa {{spend.class}} fa-5x"></i>
                    <p>{{spend.name}}</p>
                    <p>{{spend.amount | currency}}</p>
                </div>
                <div ng-hide="topSpending.length>0" class="col-md-12 box">
                    <i class="fa fa-info-circle fa-5x"></i>
                    <h4>Add your transaction first in Transaction Section.</h4>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="scheduleController" ng-init="getSchedules()" class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Upcoming Events</strong></h3>
            </div>
            <div class="panel-body">
                <div ng-show="upcomingEvents.length==0" class="alert alert-success">There is no upcoming events</div>
                <!-- <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div> -->
                <div ng-show="upcomingEvents.length>0" uib-alert ng-repeat="event in upcomingEvents" ng-class="'alert-' + (event.type || 'warning')" close="closeUpcoming($index)">{{event.title}}</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>{{ calendarTitle }}</strong></h3>
            </div>
            <div class="panel-body">
                <div class="btn-group">
                    <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="viewDate"
                    decrement="calendarView">
                    Previous
                    </button>
                    <button
                    class="btn btn-default"
                    mwl-date-modifier
                    date="viewDate"
                    set-to-today>
                    Today
                    </button>
                    <button
                    class="btn btn-primary"
                    mwl-date-modifier
                    date="viewDate"
                    increment="calendarView">
                    Next
                    </button>
                </div>

                <div class="btn-group pull-right">
                    <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="cellIsOpen = false">Year</label>
                    <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="cellIsOpen = false">Month</label>
                    <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'" ng-click="cellIsOpen = false">Week</label>
                    <label class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'" ng-click="cellIsOpen = false">Day</label>
                </div>

                <mwl-calendar
                view="calendarView"
                view-date="viewDate"
                events="schedules"
                view-title="calendarTitle"
                on-event-click="eventClicked(calendarEvent)"
                on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                cell-is-open="true">
                </mwl-calendar>
            </div>
        </div>
    </div>
</div>