<div ng-include="'/templates/navbar.html'"></div>
<div ng-init="getTransactions()" class="dashboard-body">
	<canvas class="balance-graph" id="lineChart" width="500" height="150"></canvas>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title pull-left">Transaction History</h3>
			<div class="pull-right">
				<button class="btn btn-default" id="transaction-search-button">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#transaction-form">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
			<form class="form-inline" id="transaction-search">
				<div class="form-group">
					<label for="view-search">View:</label>
					<select ng-model="$ctrl.date" class="form-control">
						<option value=""></option>
						<option ng-repeat="view in views" value="{{view.date}}">{{view.date}}</option>
					</select>
				</div>
				<div class="form-group" style="margin-left: 5px;">
					<label for="category-search">Category:</label>
					<select ng-model="$ctrl.category" class="form-control">
						<option value=""></option>
						<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
					</select>
				</div>
				<div class="form-group" style="margin-left: 5px;">
					<label for="search">Search:</label>
					<input ng-model="$ctrl.query" class="form-control">
				</div>
			</form>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Category</th>
							<th>Description</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in transactions | filter: {date: $ctrl.date, category: $ctrl.category, description: $ctrl.query} | orderBy: date">
							<td>{{transaction.date | date : format : 'mediumDate'}}</td>
							<td>{{transaction.category}}</td>
							<td>{{transaction.description}}</td>
							<td>{{transaction.amount | currency}}</td>
						</tr>
					</tbody>
				</table>
				<p>Balance: {{balance}}</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="transaction-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add your transaction</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="addTransaction()">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">Date</span>
								<input ng-model="transaction.date" type="date" class="form-control" required>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">Category</span>
								<select name="category" ng-model="transaction.category" class="form-control">
									<option value=" "></option>
									<option value="Clothing">Clothing</option>
									<option value="Education">Education</option>
									<option value="Entertainment">Entertainment</option>
									<option value="Food">Food</option>
									<option value="Housing">Housing</option>
									<option value="Medical">Medical</option>
									<option value="Personal">Personal</option>
									<option value="Transportation">Transportation</option>
									<option value="Utilities">Utilities</option>
								</select>
							</div>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<input type="text" ng-model="transaction.description" class="form-control">
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Type</span>
								<select name="type" ng-model="transaction.type" class="form-control" required>
									<option value=""></option>
									<option value="Earning">Earning</option>
									<option value="Expense">Expense</option>
								</select>
							</div>
						</div>
						<div class="col-md-8 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input ng-model="transaction.amount" type="number" min="0.01" step="0.01" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" class="form-control btn btn-primary" value="Add">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var line = document.getElementById("lineChart");
	var data = {
		labels: ["January", "February", "March", "April", "May", "June", "July"],
		datasets: [
		{
			// label: "My First dataset",
			fill: false,
			lineTension: 0.1,
			backgroundColor: "rgba(75,192,192,0.4)",
			borderColor: "rgba(75,192,192,1)",
			// borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: "rgba(75,192,192,1)",
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: "rgba(75,192,192,1)",
			pointHoverBorderColor: "rgba(220,220,220,1)",
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data: [65, 59, 80, 81, 56, 55, 40],
			spanGaps: false,
		}
		]
	};
	var options = {
		responsive: true
	};

	var myLineChart = new Chart(line, {
		type: 'line',
		data: data,
		options: options
	});
</script>