<div ng-controller="userController" class="nav-side-menu">
  <div class="brand">EZBudget</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      <li>
        <a class="dashboard-item" href="#/dashboard">
          <i class="fa fa-dashboard fa-lg"></i> Dashboard
        </a>
      </li>
      <li>
        <a class="dashboard-item" href="#/transactions">
          <i class="fa fa-money fa-lg"></i> Transaction
        </a>
      </li>
      <li>
        <a class="dashboard-item" href="#/schedules">
          <i class="fa fa-calendar fa-lg"></i> Schedule
        </a>
      </li>
      <li data-toggle="collapse" data-target="#products" class="collapsed">
        <a class="dashboard-item" href=""><i class="fa fa-user fa-lg"></i> {{current_user}} <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li><a href="#">Profile</a></li>
        <li class="active"><a ng-click="logout()">Sign Out</a></li>
      </ul>
    </ul>
  </div>
</div>