<div ng-include="'/templates/navbar.html'"></div>
<div ng-init="getTransactions()" class="dashboard-body">
	<div class="row">
		<div class="container">
			<div class="col-md-6">
				<p>Monthly Earning and Expenses</p>
				<canvas id="bar" class="chart chart-bar" chart-data="bardata" chart-labels="barlabels" chart-series="barseries" chart-colors="barcolors" chart-options="baroptions"></canvas>
			</div>
			<div class="col-md-6">
				<p>Expense Categories</p>
				<canvas id="pie" class="chart chart-pie" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions"></canvas> 
			</div>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title pull-left">Transaction History</h3>
			<div class="pull-right">
				<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#transaction-search" aria-expanded="false" aria-controls="collapseExample">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				<button class="btn btn-default" data-toggle="modal" data-target="#transaction-form">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
			<div class="container collapse" id="transaction-search">
				<form class="form-inline">
					<div class="form-group">
						<label for="view-search">View:</label>
						<select ng-model="$ctrl.date" class="form-control">
							<option value=""></option>
							<option ng-repeat="view in views" value="{{view}}">{{view}}</option>
						</select>
					</div>
					<div class="form-group" style="margin-left: 5px;">
						<label for="category-search">Category:</label>
						<select ng-model="$ctrl.category" class="form-control">
							<option value=""></option>
							<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
						</select>
					</div>
					<div class="form-group" style="margin-left: 5px;">
						<label for="search">Search:</label>
						<input ng-model="$ctrl.query" class="form-control">
					</div>
				</form>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Category</th>
							<th>Description</th>
							<th>Amount</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in transactions | filter: {date: $ctrl.date, category: $ctrl.category, description: $ctrl.query} | orderBy: date" id="{{transaction.id}}">
							<td>{{transaction.date | date : format : 'mediumDate'}}</td>
							<td>{{transaction.category}}</td>
							<td>{{transaction.description}}</td>
							<td>{{transaction.amount | currency}}</td>
							<td>
								<button class="btn btn-sm btn-info" data-toggle="modal" data-target="#transaction-edit-form" ng-click="fetchTransaction(transaction.id)">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button class="btn btn-sm btn-danger" ng-click="removeTransaction(transaction.id)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- <p>Balance: {{balance}}</p> -->
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="transaction-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add your transaction</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="addTransaction()">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">Date</span>
								<input ng-model="transaction.date" type="date" class="form-control" required>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">Category</span>
								<select name="category" ng-model="transaction.category" class="form-control">
									<option value=" "></option>
									<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<input type="text" ng-model="transaction.description" class="form-control">
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Type</span>
								<select name="type" ng-model="transaction.type" class="form-control" required>
									<option value=""></option>
									<option value="Earning">Earning</option>
									<option value="Expense">Expense</option>
								</select>
							</div>
						</div>
						<div class="col-md-8 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input ng-model="transaction.amount" type="number" min="0.01" step="0.01" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" class="form-control btn btn-primary" value="Add">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="transaction-edit-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit your transaction</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="editTransaction(transactionEdit.id)">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">Date</span>
								<input ng-model="transactionEdit.date" type="date" class="form-control" required>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="input-group">
								<span class="input-group-addon">Category</span>
								<select name="category" ng-model="transactionEdit.category" class="form-control">
									<option value=" "></option>
									<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<input type="text" ng-model="transactionEdit.description" class="form-control">
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">Type</span>
								<select name="type" ng-model="transactionEdit.type" class="form-control" required>
									<option value=""></option>
									<option value="Earning">Earning</option>
									<option value="Expense">Expense</option>
								</select>
							</div>
						</div>
						<div class="col-md-8 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input ng-model="transactionEdit.amount" type="number" min="0.01" step="0.01" class="form-control" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" class="form-control btn btn-info" value="Edit">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>