<div ng-include="'/templates/navbar.html'"></div>
<div ng-init="getTransactions()" class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Monthly Earning and Expenses</strong></h3>
				</div>
				<div class="panel-body">
					<canvas ng-show="barlabels.length == 0" id="bar" class="chart chart-bar" chart-data="barorigin" chart-labels="barlabels" chart-series="barseries" chart-colors="barcolors" chart-options="baroptions"></canvas>
		            <canvas ng-show="barlabels.length != 0" id="bar" class="chart chart-bar" chart-data="bardata" chart-labels="barlabels" chart-series="barseries" chart-colors="barcolors" chart-options="baroptions"></canvas>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><strong>Expense Categories</strong></h3>
				</div>
				<div class="panel-body">
					<canvas id="pie" class="chart chart-pie" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions"></canvas>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title pull-left">Transaction History</h3>
					<div class="pull-right">
						<button class="btn btn-default" data-toggle="modal" data-target="#transaction-form">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<th ng-click="sort('date')" class="col-md-2">
									Date
									<span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th ng-click="sort('category')" class="col-md-2">
									Category
									<span class="glyphicon sort-icon" ng-show="sortKey=='category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th ng-click="sort('description')" class="col-md-5">
									Description
									<span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th ng-click="sort('amount')" class="col-md-2">
									Amount
									<span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
								</th>
								<th class="col-md-1">Action</th>
							</thead>
							<tbody>
								<tr>
									<td>
										<select ng-model="$ctrl.date" class="form-control">
											<option value=""></option>
											<option ng-repeat="view in views" value="{{view}}">{{view}}</option>
										</select>
									</td>
									<td>
										<select ng-model="$ctrl.category" class="form-control">
											<option value=""></option>
											<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
										</select>
									</td>
									<td>
										<input ng-model="$ctrl.description" class="form-control">
									</td>
									<td>
										<input ng-model="$ctrl.amount" class="form-control">
									</td>
								</tr>
								<tr dir-paginate="transaction in transactions | filter: {date: $ctrl.date, category: $ctrl.category, description: $ctrl.description, amount: $ctrl.amount} | orderBy:sortKey:reverse | itemsPerPage:10" id="{{transaction.id}}">
									<td>{{transaction.date | date : format : 'mediumDate'}}</td>
									<td>{{transaction.category}}</td>
									<td>{{transaction.description}}</td>
									<td>{{transaction.amount | currency}}</td>
									<td>
										<button class="btn btn-xs btn-info" data-toggle="modal" data-target="#transaction-edit-form" ng-click="fetchTransaction(transaction.id)">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>
										<button class="btn btn-xs btn-danger" ng-click="removeTransaction(transaction.id)">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<!-- <p>Balance: {{balance}}</p> -->
						<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="transaction-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Add your transaction</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="addTransaction()">
					<div class="input-group datepick">
						<h4>Date</h4>
						<div style="text-align: center; display:inline;">
							<div ng-show="errorDate" class="alert-danger">{{errorDate}}</div>
							<div uib-datepicker ng-model="transaction.date" class="well well-sm" datepicker-options="options"></div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">Category</span>
							<select name="category" ng-model="transaction.category" class="form-control">
								<option value=" "></option>
								<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">Type</span>
							<select name="type" ng-model="transaction.type" class="form-control" required>
								<option value=""></option>
								<option value="Earning">Earning</option>
								<option value="Expense">Expense</option>
							</select>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<input type="text" ng-model="transaction.description" class="form-control">
					</div>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input ng-model="transaction.amount" type="number" min="0.01" step="0.01" class="form-control" required>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" class="form-control btn btn-primary" value="Add">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="transaction-edit-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit your transaction</h4>
			</div>
			<div class="modal-body">
				<form ng-submit="editTransaction(transactionEdit.id)">
					<div class="input-group datepick">
						<h4>Date</h4>
						<div style="text-align: center; display:inline;">
							<div ng-show="errorEditDate" class="alert-danger">{{errorEditDate}}</div>
							<div uib-datepicker ng-model="transactionEdit.date" class="well well-sm" datepicker-options="options"></div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">Category</span>
							<select name="category" ng-model="transactionEdit.category" class="form-control">
								<option value=" "></option>
								<option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
							</select>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="input-group">
							<span class="input-group-addon">Type</span>
							<select name="type" ng-model="transactionEdit.type" class="form-control" required>
								<option value=""></option>
								<option value="Earning">Earning</option>
								<option value="Expense">Expense</option>
							</select>
						</div>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<input type="text" ng-model="transactionEdit.description" class="form-control">
					</div>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input ng-model="transactionEdit.amount" type="number" min="0.01" step="0.01" class="form-control" required>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" class="form-control btn btn-info" value="Edit">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>